.vscode
.pre-commit-config.yaml
/packer/variables.json
*.tfstate
*.tfstate.*.backup
*.tfstate.backup
*.tfvars
*.retry
__pycache__
*.log
.terraform/
.vagrant/
*.log
*.pyc
.molecule
.cache
.pytest_cache
.yamllint
jdauphant.nginx
venv
