dist: trusty
sudo: required
language: bash
before_install:
- curl https://raw.githubusercontent.com/express42/otus-homeworks/2020-08/run.sh |
  bash
notifications:
  slack:
    rooms:
      secure: sGLT0P/EYm60AMrw+Z4zKexT0M2jMhcKtH+KNykfTlO+4QZZDaGG8/DrkHYKAoDvktyAy0mFR7L6lQNELu8Wxa3grXQl+IqZ0qxoubwYfhK5RWLvWJG9yORRSOjEl4NYWDoCkYYaooT9wIKcnhkB6bpzkhawgDjLmCf94jvPQz65/g+6szynBcJIT7Jickg9bzogKLAuFZejZCnQNu/1kIydKmU9QU+Ic1YBA045dYcvK2Lg3aI2B2X5h5t4Y4PFLvD9SdIi2I1ICqjRUM7Wb47TeRSycs5ZQ+2T2XZOH/03TbsegjfWuQ8ZJNXtqs851cIaypq1qRJZ8k4AJ43Ozc+Hr4/kCx6zfV64cpAyZ2oEW/eCrtl+sviHWiNqlziGddRNwJtxtZYxjGyoZiH1Zs7BkDZTkKVZhN1iZrL6xc84SVgPoKRKhd15nZttImXRLVhI8W0JeDp58m2KJmdeukkPVDqGCxHrZWBdJ5dRxxeMh6HuUoHrIjjrEl8B8tiB/layJncVo5o8tYsZ4hpDoGFSN9O6trUS8tHLk+rWivBmSgeQbdcGOHMvF8/3F3IfyJbsgpyBGHcPXfPB57vvTntwTCutUU+/E1bkzQbRskz5+LFJYjnPf3Pe7ZkjDrDkAZ11fyiwSHTRvzoe25/tmvBQpQEXd4SRt/qqo5Ztryw=
